<!DOCTYPE html>
<html>
  <head>
    <title>AcordeonSdV2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
  </head>

<body>
  <%= render 'layouts/header' %>
    <div class="container">
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
</body>
  <!--<div id="main-container" class="container">
    <div class="row">
      <div class="col-xs-3">
        <h3>Acordeon Digital</h3>
      </div>
      <div>
        <%= yield %>
      </div>
    </div>
  </div>-->
</html>
